
a{
	text-decoration: none;
}

.header{
    background: rgba(0, 0, 0, .1);
    display: flex;
    flex-flow: column nowrap;
}
    .menu{
        background: #2d4059;
        display: flex;
        flex-flow: row nowrap;
        height: 60px;
        align-items: center;
    }
        .logo{
            background: #ea5455;
            flex:1 1 auto;
        }
            .logo a{
                color: #fff;
                font-size: 30px;
            }
        .nav{
            flex-wrap: wrap;
            padding: 10px;
        }
            .nav a{
                color: #fff;
                font-size: 20px;
                text-transform: uppercase;
                padding: 0 10px;
                letter-spacing: 1px;
            }
                .nav a:hover{
                    color: springgreen;
                }

    .texto-principal{
        background: #f07b3f;
    }
        h1{
            background: #ffd460;
        }