<header class="header">
    <div class="menu">
        <div class="logo">
            <a >M & M</a>
        </div>
        <nav class="nav">
            <a [routerLink]="['/home']">
                <span class="material-icons">assignment_ind</span>
                Sobre Mí</a>
            <a [routerLink]="['/contacto']">
                <span class="material-icons">contact_phone</span>
                Contacto</a>
            <a [routerLink]="['/proyectos']">
                <span class="material-icons">folder_special</span>
                Proyectos</a>
        </nav>
    </div>
    <div class="texto-principal">
        <h1></h1>
    </div>
</header>
